@model PaginatedListViewModel<ProductViewModel>?

@{
    var products = Model?.Items ?? [];
}

<div class="px-3 w-6xl grid grid-cols-12 gap-6 items-center">
    <div class="text-center col-span-12">
        <h3 class="text-3xl font-semibold">Featured Products</h3>
    </div>

    @foreach (var p in products)
    {
        <div class="col-span-3">
            @await Component.InvokeAsync("Product", p)
        </div>
    }

    <div class="col-span-12 flex justify-center">
        <button
            class="px-10 py-2 text-sm border border-gray-800 rounded font-semibold text-gray-800 hover:cursor-pointer hover:bg-gray-100 transition">
            Discover More ...
        </button>
    </div>
</div>
