<div class="grid grid-cols-12 gap-6 h-full items-center px-3 w-6xl mx-auto">
    <div class="col-span-10 col-start-2 space-y-4">
        <div class="border-b border-gray-300">
            <h3 class="text-xl font-semibold mb-2">Product Description</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et tellus quis efficitur. Cras
            consectetur massa sit amet ipsum viverra, ac imperdiet felis dictum. Donec posuere ligula eget fringilla
            aliquet. Aliquam posuere risus vitae elementum blandit. Vestibulum dictum, metus in volutpat interdum, purus
            erat tempor diam, vel ultrices elit quam ut sapien. Quisque fringilla auctor dictum. Nullam laoreet
            imperdiet convallis. Nulla nec vehicula erat, non tempus ante. Sed varius vestibulum faucibus. Curabitur
            augue nunc, vulputate eu lacinia in, dapibus eget enim. Maecenas ultricies rhoncus risus auctor volutpat.
            Morbi ut orci quam.
        </p>
    </div>
</div>