<div class="px-3 w-6xl">
    <div class="grid grid-cols-12 gap-6 h-full items-center px-3 w-6xl mx-auto">
        <div class="col-span-4 col-start-2">
            <img src="https://www.prada.com/content/dam/pradabkg_products/S/SGC/SGC873/1CMVF0192/SGC873_1CMV_F0192_S_OOO_SLF.jpg/_jcr_content/renditions/cq5dam.web.hebebed.1000.1000.jpg"
                alt="product-image" class="w-full" />
        </div>

        <div class="col-span-6 col-start-6">
            <div class="space-y-6">
                <div class="space-y-1">
                    <h2 class="text-2xl font-semibold">Medium Prada Galleria leather bag</h2>
                    <p class="text-lg">$ 4,500</p>
                </div>

                <div class="space-y-3">
                    <div class="space-x-2">
                        <span class="font-semibold">Color</span>
                        <span class="ml-1">Ebony</span>
                    </div>
                    <div class="space-x-2">
                        <button
                            class="w-8 h-8 rounded-full bg-black border-2 border-gray-300 hover:ring-2 hover:ring-black focus:outline-none"></button>
                        <button
                            class="w-8 h-8 rounded-full bg-[#b78e59] border-2 border-gray-300 hover:ring-2 hover:ring-[#b78e59] focus:outline-none"></button>
                        <button
                            class="w-8 h-8 rounded-full bg-gray-200 border-2 border-gray-300 hover:ring-2 hover:ring-gray-400 focus:outline-none"></button>
                        <button
                            class="w-8 h-8 rounded-full bg-white border-2 border-gray-300 hover:ring-2 hover:ring-gray-400 focus:outline-none"></button>
                    </div>
                </div>

                <div class="flex">
                    <form class="flex-1">
                        <select class="bg-white text-sm block w-full p-4 focus:ring-0">
                            <button class="flex justify-between w-full">
                                <div>
                                    <selectedcontent></selectedcontent>
                                </div>
                                <div>
                                    @await Component.InvokeAsync("SvgIcon", new { name = "chevron-down", size = 20 })
                                </div>
                            </button>
                            <option selected>
                                Select size
                            </option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </form>
                    <button class="border border-gray-300 text-sm px-8 py-2 hover:border-gray-700 hover:cursor-pointer">
                        Size guide
                    </button>
                </div>

                <div class="space-y-3">
                    <button class="w-full bg-black text-white py-3 font-medium hover:bg-gray-800 transition">
                        BUY NOW
                    </button>
                    <button class="w-full border border-gray-700 py-3 font-medium hover:bg-gray-100 transition">
                        ADD TO SHOPPING CART
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>