@{
    ViewData["Title"] = "Callback";
}

<div class="mx-auto py-[40vh]">
    <h1 class="text-3xl text-center">Authenticating ...</h1>
</div>

<script>
    const timeoutId = setTimeout(function () {
        window.location.href = "/";
    }, 1000);
</script>
