@model ProductResponse

@{
    var imageUrl = Model.Images.Count > 0 ? Model.Images[0] : "#";
}

<a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id.ToString()" class="group">
    <div class="relative w-full h-[300px] overflow-hidden align-middle">
        <img src="@imageUrl" alt="product"
            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:scale-120 group-hover:duration-200" />
    </div>

    <div class="px-4 mt-2 mb-4">
        <div class="text-left mb-4">
            <span class="font-semibold text-gray-900 text-lg">
                @Model.Name
            </span>
            <p class="text-gray-800">@Model.Price</p>
        </div>

        <div class="flex items-center gap-2">
            <div class="w-5 h-5 rounded-full bg-black border-1 border-gray-600 focus:outline-none">
            </div>
            <div class="w-5 h-5 rounded-full bg-[#b78e59] border-1 border-gray-600 focus:outline-none">
            </div>
            <div class="w-5 h-5 rounded-full bg-gray-200 border-1 border-gray-600 focus:outline-none">
            </div>
            <div class="w-5 h-5 rounded-full bg-white border-1 border-gray-600 focus:outline-none">
            </div>
        </div>
    </div>
</a>
