<footer class="bg-gray-900 text-white pt-10 pb-3">
    <div class="flex justify-evenly w-6xl mx-auto">
        <div>
            <h2 class="font-semibold mb-3">FOLLOW US</h2>
            <div class="flex space-x-4 justify-center">
                <div
                    class="w-8 h-8 flex items-center justify-center rounded-full border border-white hover:bg-gray-700">
                    <a href="#">
                        @await Component.InvokeAsync("SvgIcon", new { name = "brand-facebook" })
                    </a>
                </div>
                <div
                    class="w-8 h-8 flex items-center justify-center rounded-full border border-white hover:bg-gray-700">
                    <a href="#">
                        @await Component.InvokeAsync("SvgIcon", new { name = "brand-google" })
                    </a>
                </div>
                <div
                    class="w-8 h-8 flex items-center justify-center rounded-full border border-white hover:bg-gray-700">
                    <a href="#">
                        @await Component.InvokeAsync("SvgIcon", new { name = "brand-instagram" })
                    </a>
                </div>
            </div>
        </div>

        <div>
            <h3 class="font-semibold mb-3">Thông tin hữu ích</h3>
            <ul class="space-y-1 text-sm">
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
            </ul>
        </div>

        <div>
            <h3 class="font-semibold mb-3">Thông tin hữu ích</h3>
            <ul class="space-y-1 text-sm">
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
                <li><a href="#" class="text-gray-300 hover:text-white">Chính sách bảo hành</a></li>
            </ul>
        </div>
    </div>

    <div class="mt-10 text-center text-sm text-gray-400">
        &copy; 2025 CommerceCore. All Rights Reserved.
    </div>
</footer>