@{
    ViewData["Title"] = "Details";
}

<div class="flex flex-col items-center py-4 gap-y-9">
    @await Html.PartialAsync("Partials/_Breadcrumb")
    @await Html.PartialAsync("Partials/_ProductShowcaseSection")
    @await Html.PartialAsync("Partials/_DescriptionSection")
    @await Html.PartialAsync("Partials/_RatingsSection")
</div>
