<div id="home-carousel" class="relative w-full" data-carousel="slide">
    @* Slides *@
    <div class="relative h-96 overflow-hidden md:h-[500px]">
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://www.prada.com/content/dam/pradanux/home_page/2025/04/May_Issue/Days_of_Summer/Woman/banner_DT.jpg/_jcr_content/renditions/cq5dam.web.3328.3328.webp"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="carousel-item" />

            <div class="absolute z-10 -translate-y-1/2 top-1/2 px-20 max-w-sm text-black">
                <h2 class="text-lg font-semibold mb-3">Re-Nylon for SEA BEYOND</h2>
                <ul class="space-y-1 text-sm text-gray-800 mb-4">
                    <li>Prada’s Circular Revolution</li>
                    <li>Prada’s Circular Revolution</li>
                    <li>Prada’s Circular Revolution</li>
                </ul>
                <button
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-black rounded hover:bg-gray-800 transition">
                    Explore more
                    @await Component.InvokeAsync("SvgIcon", new { name = "chevron-right", size = 20 })
                </button>
            </div>
        </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://www.prada.com/content/dam/pradanux/home_page/2025/04/May_Issue/Days_of_Summer/Woman/banner_DT.jpg/_jcr_content/renditions/cq5dam.web.3328.3328.webp"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="carousel-item" />
        </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://www.prada.com/content/dam/pradanux/home_page/2025/04/May_Issue/Days_of_Summer/Woman/banner_DT.jpg/_jcr_content/renditions/cq5dam.web.3328.3328.webp"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="carousel-item" />
        </div>
    </div>

    @* Indicators *@
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
    </div>

    @* Controls *@
    <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/40 group-hover:bg-white/20 group-focus:ring-1 group-focus:ring-white/50 group-focus:outline-none">
            @await Component.InvokeAsync("SvgIcon", new { name = "chevron-left" })
        </span>
    </button>
    <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/40 group-hover:bg-white/20 group-focus:ring-1 group-focus:ring-white/50 group-focus:outline-none">
            @await Component.InvokeAsync("SvgIcon", new { name = "chevron-right" })
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>