<div class="px-3 w-6xl">
    <div class="text-center overflow-hidden">
        <h2 class="text-3xl font-semibold mb-4">Featured Products</h2>

        <div class="grid grid-cols-12 gap-6 h-full items-center px-3 w-full mx-auto mb-4">
            @for (var i = 0; i < 8; i++)
            {
                <div class="col-span-3">
                    @await Component.InvokeAsync("ProductCard", new { })
                </div>
            }
        </div>

        <div>
            <button
                class="px-10 py-2 text-sm border border-gray-800 rounded font-semibold text-gray-800 hover:cursor-pointer hover:bg-gray-100 transition">Discover
                More ...</button>
        </div>
    </div>
</div>
