@{
    ViewData["Title"] = "Home";
}

<div class="flex flex-col py-4">
    <div class="grid grid-cols-12 gap-6 h-full items-center px-3 w-6xl mx-auto">
        <div class="col-span-12">
            @await Html.PartialAsync("Partials/_CarouselSection")
        </div>
    </div>
</div>
