@using Microsoft.Extensions.Primitives
@model LoginViewModel

<div class="form-wrapper rounded shadow border">
    <div class="text-center my-3">
        <img src="~/images/logo.svg" alt="logo" width="250" height="100" class="h-auto">
    </div>

    <section>
        <form id="login-form" asp-controller="Authorization" asp-action="Accept" method="post">
            <div class="d-grid gap-3 mt-4">
                <div class="text-center">
                    <span class="fw-bold mb-0 text-muted">Log in to continue</span>
                </div>

                <div class="form-outline">
                    <label class="form-label" asp-for="Email">Email address</label>
                    <input type="email" class="form-control py-2" placeholder="Enter your email" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-outline">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input type="password" class="form-control py-2" placeholder="Enter your password"
                        asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" asp-for="RememberMe" />
                        <label class="form-check-label" asp-for="RememberMe"> Remember me </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>

            <div class="d-grid gap-3 mt-4">
                <div class="text-center">
                    <span class="fw-bold mb-0 text-muted">Or continue with:</span>
                </div>

                <a class="btn btn-outline-secondary btn-block py-2" href="#!" role="button">
                    <span class="fw-bold text-dark">
                        <i class="bi bi-google"></i> Continue with Google
                    </span>
                </a>
                <a class="btn btn-outline-secondary btn-block py-2" href="#!" role="button">
                    <span class="fw-bold text-dark">
                        <i class="bi bi-facebook"></i> Continue with Facebook
                    </span>
                </a>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center align-items-center">
                    <span>
                        <a href="#!">Forgot password?</a>
                    </span>
                    <span>
                        <i class="bi bi-dot fs-5"></i>
                    </span>
                    <span>
                        <a href="#!">Create an account</a>
                    </span>
                </div>
            </div>
        </form>
    </section>
</div>
