@model ProductResponse

<div class="grid grid-cols-12 gap-6 h-full items-center px-3 w-6xl mx-auto">
    <div class="col-span-10 col-start-2 space-y-4">
        <div class="border-b border-gray-300">
            <h3 class="text-xl font-semibold mb-2">Product Description</h3>
        </div>
        <p>
            @(Model?.Description != null && Model.Description?.Length == 0 ? "No description found" :
                        Model?.Description)
        </p>
    </div>
</div>
