@model ProductViewModel

@{
    var images = Model.Images.Select(x => x.PublicUrl).ToList();
    var imageUrl = images[0] ?? "#";
}

<div class="grid grid-cols-12 gap-6 h-full items-center px-3 w-6xl mx-auto">
    <div class="col-span-4 col-start-2">
        <img src="@(imageUrl)" alt="product-image" class="w-full">
    </div>

    <div class="col-span-6 grid grid-cols-6 gap-6">
        <div class="col-span-6 space-y-2">
            <h3 class="text-3xl font-semibold">@Model.Name</h3>
            <p class="text-lg">@Model.Price $</p>
        </div>

        <div class="col-span-6 space-x-2 space-y-2">
            <div class="space-x-2">
                <span class="font-semibold">Color</span>
                <span class="ml-1">Ebony</span>
            </div>
            <button
                class="w-8 h-8 rounded-full bg-black border-2 border-gray-300 hover:ring-2 hover:ring-black focus:outline-none"></button>
            <button
                class="w-8 h-8 rounded-full bg-[#b78e59] border-2 border-gray-300 hover:ring-2 hover:ring-[#b78e59] focus:outline-none"></button>
            <button
                class="w-8 h-8 rounded-full bg-gray-200 border-2 border-gray-300 hover:ring-2 hover:ring-gray-400 focus:outline-none"></button>
            <button
                class="w-8 h-8 rounded-full bg-white border-2 border-gray-300 hover:ring-2 hover:ring-gray-400 focus:outline-none"></button>
        </div>

        <div class="col-span-6 flex">
            <form class="flex-1">
                <select class="bg-white text-sm block w-full p-4 focus:ring-0">
                    <button class="flex justify-between w-full">
                        <div>
                            <selectedcontent></selectedcontent>
                        </div>
                        <div>
                            @await Component.InvokeAsync("SvgIcon", new { name = "chevron-down", size = 20 })
                        </div>
                    </button>
                    <option selected>
                        Select size
                    </option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
            </form>
            <button class="border border-gray-300 text-sm px-8 py-2 hover:border-gray-700 hover:cursor-pointer">
                Size guide
            </button>
        </div>

        <button class="col-start-1 col-span-3 bg-black text-white py-3 font-medium hover:bg-gray-800 transition">
            BUY NOW
        </button>
        <button class="col-span-3 border border-gray-700 py-3 font-medium hover:bg-gray-100 transition">
            ADD TO SHOPPING CART
        </button>
    </div>
</div>