<header>
    <nav class="h-20 border-b border-gray-200">
        <div class="grid grid-cols-12 gap-6 h-full items-center px-3 w-6xl mx-auto">
            <a href="/" class="flex items-center col-span-2 h-full ">
                <img src="~/images/logo.svg" alt="logo" />
            </a>

            <div class="col-span-4">
                <div class="flex space-x-4 text-black text-sm font-semibold">
                    @* <a href="#" class="hover:border-b-[0.5px]">MEN</a>
                    <a href="#" class="hover:border-b-[0.5px]">WOMEN</a> *@
                    <div class="relative group">
                        <button class="flex items-center gap-1 hover:border-b-[0.5px]">
                            ALL CATEGORIES
                            @await Component.InvokeAsync("SvgIcon", new { name = "chevron-down", size = 16 })
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-span-6">
                <div class="flex gap-4 justify-end items-center">
                    <div class="flex flex-row flex-1 justify-end">
                        <input
                            class="w-full text-xs py-2 px-4 border border-r-0 border-gray-300 rounded-l-md max-w-[300px] focus:outline-none placeholder-gray-400"
                            type="text" placeholder="Search for items..." />
                        <button class="w-12 bg-gray-900 text-white rounded-r-md hover:bg-gray-800">
                            <i class="ti ti-search"></i>
                        </button>
                    </div>

                    @await Component.InvokeAsync("SvgIcon", new { name = "heart", size = 28 })
                    @await Component.InvokeAsync("SvgIcon", new { name = "user-circle", size = 28 })
                    @await Component.InvokeAsync("SvgIcon", new { name = "shopping-bag", size = 28 })
                </div>
            </div>
        </div>
    </nav>
</header>