@model CustomersSite.ViewModels.ProductCardViewModel

@* TODO use route-id from ViewModel *@
<a asp-controller="Products" asp-action="Details" asp-route-id="abc" class="group">
    <div class="relative w-full h-[300px] overflow-hidden align-middle">
        <img src="https://www.prada.com/content/dam/pradabkg_products/1/1BA/1BA457/2CYSF0032/1BA457_2CYS_F0032_V_YO0_SLF.jpg/_jcr_content/renditions/cq5dam.web.hebebed.2000.2000.jpg"
            alt="product"
            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:scale-120 group-hover:duration-200" />
    </div>

    <div class="px-4 mt-2 mb-4">
        <div class="text-left mb-4">
            <h3 class="font-semibold text-gray-900">
                Product ABC
            </h3>
            <p class="text-gray-800">$ 2,750</p>
        </div>

        <div class="flex items-center gap-2">
            <div class="w-5 h-5 rounded-full bg-black border-1 border-gray-600 focus:outline-none">
            </div>
            <div class="w-5 h-5 rounded-full bg-[#b78e59] border-1 border-gray-600 focus:outline-none">
            </div>
            <div class="w-5 h-5 rounded-full bg-gray-200 border-1 border-gray-600 focus:outline-none">
            </div>
            <div class="w-5 h-5 rounded-full bg-white border-1 border-gray-600 focus:outline-none">
            </div>
        </div>
    </div>
</a>