@using CommerceCore.Web.CustomersSite.ViewModels
@model CommentListViewModel

<div class="grid grid-cols-12 gap-6 h-full items-center w-full mx-auto pb-10">
    @for (var i = 0; i < 5; i++)
    {
        @await Component.InvokeAsync("Comment", new { })
    }
</div>