@model ProductResponse

@{
    ViewData["Title"] = "Details";
}

<div class="flex flex-col items-center py-4 gap-y-10">
    @* @await Html.PartialAsync("Partials/_Breadcrumb") *@
    @await Html.PartialAsync("Partials/_ProductShowcaseSection", Model)
    @await Html.PartialAsync("Partials/_DescriptionSection", Model)
    @await Html.PartialAsync("Partials/_RatingsSection", Model)
</div>

@section Scripts {
    <script src="~/js/product-details.js" defer></script>
}
