@model CustomersSite.ViewModels.CommentViewModel

<div class="col-start-2 col-span-2 h-full">
    <p class="font-semibold">SEVEGRAND</p>
    <div class="text-yellow-500">★★★★★</div>
    <p class="text-sm text-gray-500 mt-2">21/04/2025</p>
</div>
<div class="col-start-4 col-span-8 space-y-2 h-full">
    <p class=" font-semibold">Excellent sac de ville</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus consequat accumsan. Nulla elementum,
        turpis vitae luctus condimentum, dui ante luctus erat, vitae maximus tortor arcu sed sem. Phasellus pulvinar
        sit amet risus id mattis. Vestibulum eget placerat sem. Proin quis porttitor ante. Mauris ut aliquam odio.
        Aliquam facilisis faucibus dolor. Suspendisse potenti.</p>
    <a href="#" class="text-sm underline text-gray-500 hover:underline">Report infringement</a>
</div>